GOOGLE_API_KEY=your_google_api_key_here
OLLAMA_API=http://localhost:11434
TTS_API=http://localhost:11435
FFMPEG_PATH=F:/LocalAI/tools/ffmpeg/ffmpeg.exe
FONT_PATH=F:/LocalAI/tools/fonts/Sarabun-Regular.ttf
